/* =============================
    GENERAL STYLES
=============================*/

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url("assets/freedom.jpg") no-repeat center 15%;
    background-size: cover;
    text-align: center;
    color: #333;
}

@media (min-width: 1400px) {
    body {
        color:black;
    }
}

.quote {
    font-family: 'Julius Sans One', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
    margin: 2.5rem 0;
}

.author {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    font-style: italic;
    margin: 1.5rem 0;
}

@media (max-width: 600px) {
    .quote {
        font-size: 1.5rem;    
    }
    .author {
        font-size: 1rem;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .quote {
        font-size: 2rem;    
    }
    .author {
        font-size: 1.25rem;
    }
}

@media (min-width: 1400px) {
    .quote {
        font-size: 4rem;    
    }
    .author {
        font-size: 2.5rem;
    }    
}

.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 4rem;
}

@media (min-width: 1400px) {
    .wrapper {
        max-width: 75vw;
        padding-top: 6rem;    
    }  
}

/* =============================
    LANGUAGE SWITCH STYLES
=============================*/

.language {
    float: right;
    margin: .25rem .25rem
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: bold;
}
